<div id="admin">	
	<h1>Put one image URL per line, one caption per line (if needed), and one chatroom code per line.</h1>
	<br />
	<div class="admin">
		Images:<br />
		<textarea id="images" name="images" rows="20" cols="40"></textarea>
	</div>
	<div class="admin">
		Captions:<br />
		<textarea id="captions" name="captions" rows="20" cols="40"></textarea>
	</div>
	<div class="admin">
		Chatroom codes:<br />
		<textarea id="chatrooms" name="chatrooms" rows="20" cols="40"></textarea>
	</div><br />
	<a id="send" class="btn primary large" href="#">Save</a>
</div>